<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.moodsdesign.prjtmpl.unit.tiva</string>
    <key>Ancestors</key>
    <array>
        <string>com.moodsdesign.prjtmpl.unit.base</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>tivaRoot</string>
            <key>Name</key>
            <string>TivaWare SDK Directory:</string>
            <key>Description</key>
            <string>The folder where you installed the TivaWare SDK</string>
            <key>Type</key>
            <string>text</string>
            <key>Default</key>
            <string>/Applications/SW-EK-TM4C123GXL-2.1.2.111</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>tivaPart</string>
            <key>Name</key>
            <string>TIVA Part Name:</string>
            <key>Description</key>
            <string>The name of the TIVA part your project will target</string>
            <key>Type</key>
            <string>text</string>
            <key>Default</key>
            <string>TM4C123GH6PM</string>
        </dict>
		<dict>
			<key>Identifier</key>
			<string>buildToolPath</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Build Tool:</string>
			<key>Description</key>
			<string>The path to the build tool to use</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>/usr/bin/make</string>
		</dict>
    </array>
    <key>Description</key>
    <string>This template builds an In-App Purchase Content package.</string>
    <key>SortOrder</key>
    <integer>2</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLegacyTarget</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>SharedSettings</key>
			<dict>
				<key>INFOPLIST_FILE</key>
				<string>ContentInfo.plist</string>
			</dict>
			<key>BuildToolPath</key>
			<string>___VARIABLE_buildToolPath___</string>
			<key>BuildToolArgsString</key>
			<string>$(ACTION)</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../ContentInfo.plist</string>
		<string>../Makefile</string>
		<string>../___PACKAGENAMEASIDENTIFIER___.ld</string>
		<string>___PACKAGENAMEASIDENTIFIER___.c</string>
		<string>startup_gcc.c</string>
		<string>tm4c123gh6pm.h</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../ContentInfo.plist</key>
		<dict>
            <key>Path</key>
            <string>ContentInfo.plist</string>
            <key>Group</key>
            <array/>
			<key>TargetIdentifiers</key>
			<array/>
			<key>SubstituteMacros</key>
			<true/>
		</dict>
		<key>../Makefile</key>
		<dict>
            <key>Path</key>
            <string>Makefile</string>
			<key>TargetIdentifiers</key>
			<array/>
			<key>SubstituteMacros</key>
			<true/>
		</dict>
		<key>../___PACKAGENAMEASIDENTIFIER___.ld</key>
		<dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.ld</string>
			<key>TargetIdentifiers</key>
			<array/>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.c</key>
		<dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.c</string>
            <key>Group</key>
            <array>
                <string>Source</string>
            </array>
		</dict>
		<key>startup_gcc.c</key>
		<dict>
            <key>Path</key>
            <string>startup_gcc.c</string>
            <key>Group</key>
            <array>
                <string>Source</string>
            </array>
		</dict>
		<key>tm4c123gh6pm.h</key>
		<dict>
            <key>Path</key>
            <string>tm4c123gh6pm.h</string>
            <key>Group</key>
            <array>
                <string>Source</string>
            </array>
		</dict>
	</dict>
</dict>
</plist>
